[submodule "acl"]
	path = acl
	url = https://github.com/shedbuilt/acl.git
	branch = .
[submodule "attr"]
	path = attr
	url = https://github.com/shedbuilt/attr.git
	branch = .
[submodule "bash"]
	path = bash
	url = https://github.com/shedbuilt/bash.git
	branch = .
[submodule "bc"]
	path = bc
	url = https://github.com/shedbuilt/bc.git
	branch = .
[submodule "coreutils"]
	path = coreutils
	url = https://github.com/shedbuilt/coreutils.git
	branch = .
[submodule "dbus"]
	path = dbus
	url = https://github.com/shedbuilt/dbus.git
	branch = .
[submodule "expat"]
	path = expat
	url = https://github.com/shedbuilt/expat.git
	branch = .
[submodule "file"]
	path = file
	url = https://github.com/shedbuilt/file.git
	branch = .
[submodule "findutils"]
	path = findutils
	url = https://github.com/shedbuilt/findutils.git
	branch = .
[submodule "flex"]
	path = flex
	url = https://github.com/shedbuilt/flex.git
	branch = .
[submodule "gdbm"]
	path = gdbm
	url = https://github.com/shedbuilt/gdbm.git
	branch = .
[submodule "gettext"]
	path = gettext
	url = https://github.com/shedbuilt/gettext.git
	branch = .
[submodule "glibc"]
	path = glibc
	url = https://github.com/shedbuilt/glibc.git
	branch = .
[submodule "gperf"]
	path = gperf
	url = https://github.com/shedbuilt/gperf.git
	branch = .
[submodule "groff"]
	path = groff
	url = https://github.com/shedbuilt/groff.git
	branch = .
[submodule "kbd"]
	path = kbd
	url = https://github.com/shedbuilt/kbd.git
	branch = .
[submodule "kmod"]
	path = kmod
	url = https://github.com/shedbuilt/kmod.git
	branch = .
[submodule "libcap"]
	path = libcap
	url = https://github.com/shedbuilt/libcap.git
	branch = .
[submodule "libpipeline"]
	path = libpipeline
	url = https://github.com/shedbuilt/libpipeline.git
	branch = .
[submodule "linux"]
	path = linux
	url = https://github.com/shedbuilt/linux.git
	branch = .
[submodule "linux-headers"]
	path = linux-headers
	url = https://github.com/shedbuilt/linux-headers.git
	branch = .
[submodule "man-db"]
	path = man-db
	url = https://github.com/shedbuilt/man-db.git
	branch = .
[submodule "man-pages"]
	path = man-pages
	url = https://github.com/shedbuilt/man-pages.git
	branch = .
[submodule "ncurses"]
	path = ncurses
	url = https://github.com/shedbuilt/ncurses.git
	branch = .
[submodule "pkg-config"]
	path = pkg-config
	url = https://github.com/shedbuilt/pkg-config.git
	branch = .
[submodule "procps-ng"]
	path = procps-ng
	url = https://github.com/shedbuilt/procps-ng.git
	branch = .
[submodule "readline"]
	path = readline
	url = https://github.com/shedbuilt/readline.git
	branch = .
[submodule "shadow"]
	path = shadow
	url = https://github.com/shedbuilt/shadow.git
	branch = .
[submodule "shedmake"]
	path = shedmake
	url = https://github.com/shedbuilt/shedmake.git
	branch = .
[submodule "sudo"]
	path = sudo
	url = https://github.com/shedbuilt/sudo.git
	branch = .
[submodule "systemd"]
	path = systemd
	url = https://github.com/shedbuilt/systemd.git
	branch = .
[submodule "texinfo"]
	path = texinfo
	url = https://github.com/shedbuilt/texinfo.git
	branch = .
[submodule "tzdata"]
	path = tzdata
	url = https://github.com/shedbuilt/tzdata.git
	branch = .
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/shedbuilt/u-boot.git
	branch = .
[submodule "util-linux"]
	path = util-linux
	url = https://github.com/shedbuilt/util-linux.git
	branch = .
[submodule "zlib"]
	path = zlib
	url = https://github.com/shedbuilt/zlib.git
	branch = .
[submodule "libelf"]
	path = libelf
	url = https://github.com/shedbuilt/libelf.git
        branch = .
[submodule "dtc"]
	path = dtc
	url = https://github.com/shedbuilt/dtc.git
	branch = .
[submodule "base-layout"]
	path = base-layout
	url = https://github.com/shedbuilt/base-layout.git
	branch = .
[submodule "libdrm"]
	path = libdrm
	url = https://github.com/shedbuilt/libdrm.git
	branch = .
[submodule "mtdev"]
	path = mtdev
	url = https://github.com/shedbuilt/mtdev.git
	branch = .
[submodule "xkeyboard-config"]
	path = xkeyboard-config
	url = https://github.com/shedbuilt/xkeyboard-config.git
	branch = .
[submodule "libevdev"]
	path = libevdev
	url = https://github.com/shedbuilt/libevdev.git
	branch = .
[submodule "pam"]
	path = pam
	url = https://github.com/shedbuilt/pam.git
	branch = .
[submodule "atf"]
	path = atf
	url = https://github.com/shedbuilt/atf.git
	branch = .
